@use 'mixins/font';
.auto-card {
    --auto-card-color: var(--c-main-accent-color);
    --auto-card-content-color: var(--c-main-primary-color);
    --auto-card-text-primary-color: var(--c-base-color);
    --auto-card-text-secondary-color: var(--c-base-primary-color);
    --auto-card-bg-done-color: var(--c-main-accent-primary-color);
    --auto-card-accent-text-done-color: var(--c-main-accent-secondary-color);

    border: 1px solid transparent;
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    max-width: 475px;
    cursor: pointer;

    @include font.font(10px, 16px);

    @media (min-width: 992px) {
        width: auto;
        max-width: none;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: 992px) {
            flex-direction: row;
            max-height: 124px;
        }
    }

    &__picture {
        background-color: var(--auto-card-color);
        aspect-ratio: 326/238;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        max-width: 100%;
        object-fit: contain;


        @media (min-width: 992px) {
            max-width: 165px;
            max-height: 124px;
        }
    }

    &__content {
        padding: 12px;
        background-color: var(--auto-card-content-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 12px;

        @media (min-width: 992px) {
            min-width: 490px;

        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    &__brand {
        display: flex;
        align-items: center;
        gap: 4px;

        @media (min-width: 992px) {
            gap: 6px;
        }
    }


    &__make,
    &__detail-value--primary {
        color: var(--auto-card-text-primary-color);
        cursor: auto;
        @include font.font(12px, 16px, 600);


        @media (min-width: 992px) {
            @include font.font(20px, 24px, 600);
        }
    }


    &__addition,
    &__detail-label,
    &__detail-value {
        color: var(--auto-card-text-secondary-color);
    }

    &__detail-value {
        &--primary {
            color: var(--auto-card-text-primary-color);
        }
    }

    &__addition,
    &__detail-value {
        @include font.font(12px, 16px, 500);

        @media (min-width: 992px) {
            @include font.font(20px, 24px, 500);
        }
    }

    &__discount-value {
        color: var(--auto-card-accent-text-done-color);
        padding-inline: 4px;
        @include font.font(10px, 16px);

        @media (min-width: 992px) {
            @include font.font(12px, 16px);
        }
    }

    &__details {
        display: flex;
        row-gap: 10px;
        flex-wrap: wrap;
        column-gap: 24px;
        justify-content: space-between;

        @media (min-width: 992px) {
            column-gap: 40px;
        }
        
    }

    &__detail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (min-width: 992px) {
            row-gap: 8px;
        }
        
    }

    &__detail-label {
        @include font.font(8px, 12px);

        @media (min-width: 992px) {
            @include font.font(12px, 12px);
        }
    }

    &__discount {
        background-color: var(--auto-card-bg-done-color);
        border: 1px solid transparent;
        border-radius: 4px;
    }
}